appdirs==1.4.4
argcomplete==1.12.0
attrs==20.2.0
autopep8==1.5.4
black==19.10b0
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
dataclasses==0.6
datamodel-code-generator==0.5.31
dnspython==2.0.0
email-validator==1.1.1
fastapi==0.61.1
flake8==3.8.3
genson==1.2.2
h11==0.9.0
httptools==0.1.1
idna==2.10
importlib-metadata==1.7.0
inflect==4.1.0
isort==4.3.21
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
mccabe==0.6.1
motor==2.2.0
openapi-spec-validator==0.2.9
pathspec==0.8.0
prance==0.19.0
pycodestyle==2.6.0
pydantic==1.6.1
pyflakes==2.2.0
pymongo==3.11.0
pyrsistent==0.17.3
PySnooper==0.4.2
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
semver==2.10.2
six==1.15.0
starlette==0.13.6
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
uvicorn==0.11.8
uvloop==0.14.0
websockets==8.1
zipp==3.1.0
